In [1]:
import pandas as pd

from surprise import SVD, SVDpp, CoClustering, SlopeOne
from surprise import NormalPredictor

from surprise import Dataset
from surprise import Reader

from surprise.model_selection import cross_validate
from surprise.model_selection import GridSearchCV

from helpers import *

In [2]:
data = load_data("data/data_train.csv")
data.head()

  user movie  rating
0  r44    c1       4
1  r61    c1       3
2  r67    c1       4
3  r72    c1       3
4  r86    c1       5

In [3]:
dataset = Dataset.load_from_df(data[['user', 'movie', 'rating']], Reader(rating_scale=(1, 5)))

In [5]:
algo = SlopeOne()
# Run 5-fold cross-validation and print results.
cross_validate(algo, dataset, measures=['RMSE', 'MAE'], cv=5, verbose=True, n_jobs=-1)

Evaluating RMSE, MAE of algorithm SlopeOne on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.0029  0.9980  0.9991  0.9994  1.0020  1.0003  0.0019
MAE (testset)     0.8038  0.7993  0.8014  0.8012  0.8031  0.8018  0.0016
Fit time          3.67    4.19    4.08    4.21    3.82    3.99    0.21
Test time         18.43   18.40   18.18   18.08   17.51   18.12   0.33

{'test_rmse': array([1.00292291, 0.99798531, 0.99913704, 0.99936091, 1.00197231]),
 'test_mae': array([0.8038226 , 0.79928024, 0.80140339, 0.80119476, 0.8031018 ]),
 'fit_time': (3.671037197113037,
  4.186522722244263,
  4.0771644115448,
  4.212418556213379,
  3.8209385871887207),
 'test_time': (18.431316375732422,
  18.402488708496094,
  18.180287837982178,
  18.079826593399048,
  17.51241183280945)}

In [6]:
gen_submission(r'data/submission_slopeone.csv', algo)