In [2]:
%load_ext autoreload
%autoreload 2

from helpers import *

from surprise import Dataset
from surprise import Reader

from surprise.model_selection import GridSearchCV

path_dataset = "data/data_train.csv"
data = load_data(path_dataset)
dataset = Dataset.load_from_df(data[['user', 'movie', 'rating']], Reader(rating_scale=(1, 5)))

data.head()

  user movie  rating
0  r44    c1       4
1  r61    c1       3
2  r67    c1       4
3  r72    c1       3
4  r86    c1       5

![alt text](ALS.png "Title")

In [ ]:
from ALS_implementation import ALS
param_grid = {"n_epochs": [25], "num_features": [8], "lambda_all": [0.081]}
gs = GridSearchCV(ALS, param_grid, measures=['rmse', 'mae'], cv=12, n_jobs=-1, joblib_verbose=1000) 
gs.fit(dataset)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.